.container {
  border: 3px solid #f1f1f1;
  background-color: cyan;
  padding: 16px;
}

input {
  background-color: wheat;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  text-align: center;
}

::placeholder {
  color: red;
  opacity: 1;
}

button {
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}